/* web-navbar 💥💥💥💥 */
body{
font-family:'Montserrat';
text-align: center;
}
.padding-applyer{
  padding: 3% 10%;
}

#web-navbar {
  padding: 3% 6%;
  background-color: hsl(0, 0%, 13%);

}
.nav-item {
  padding-left: 6rem;
  padding-left: 2rem;
  font-size: 1.4rem;
}

.navbar {
  margin-left: -10px;
}

.home {
  font-size: 30px;
}

.icon {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  padding-right: 10px;
}

/* home-page🏠🏠🏠🏠 */

#home-page {
  background-color: #222;
  color: white;
  padding: 3% 15% 10%;

}
.profile-img {
  width: 20rem;
}

h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  animation: mymove 5s linear infinite;
}
p {
  font-size: 2rem;
  margin-top: 4rem;
  font-family: 'MOntserrat';
  text-transform:capitalize;
}
.page-icon {
  margin-right: 2rem;
}

/* section dice game  */

.box-first{
background-color: #ecc4c4;
}

.game-text{
  font-size: 3.5rem;
  color: #222;
}
.game-img{
  width: 100%;
  margin-top:5%;
  
}
#btn-play{
  margin: 1rem 0.2rem;
  
}





/* photo-page📷📷📷📷 */


#photo-page {
  padding: 1% 10%;
  background-color: #222;
}

.box-images {
  width: 104%;
  height: 100%;
  border: 1px solid #fff;
}

.gallary-box {
  margin-top: 7%;
  background-color: transparent;
  border: 1px solid #0a0107;
}

.box {
  margin: 1% 0;
  border: 1px solit rgb(43, 3, 3);
}
/* 
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background-color: black;
   background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);  
  z-index: 5;
} */
.gallary-text{
  font-size: 3.7rem;
  margin-top: 4rem;
  color: #fff;
}

.hidden {
  display: none;
}

/* section my skills  */
 
.skill-head{
  font-size: 4rem;
  font-family: monospace;
}

.skill-img,.small-heading{
  font-size: 3rem;
  margin-top: 5%;
}
.skill-text{
  font-size: 30px;
  text-align: left;
}



/* medis quearys */

@media (max-width:470px) {
  h1{
    position: relative;
    left: -10px;
    font-size: 40px;
  }
  p{
    margin: 20px;
    font-size: 20px;
    margin-bottom:30px;
  }
  .page-icon{
    margin-right: 10px;
  }
  .profile-img{
    width: 200px;
    margin-top: 20px;
  }

  .nav-item,.home,.icon,.navbar-toggler-icon{
    font-size: 1rem;
  }
 .game-text{
    font-size: 20px;
  }
  #btn-play{
    font-size: 10px;
  }

  .gallary-text,.skill-head,.skill-text,.small-heading{
    font-size: 20px;
  }
  
}
@media(max-width:500px){
  .box-images{
    width: 120%;
  }
    
  }

  @media(max-width:650){
    .skill-img{
      width: 50%;
    }
  }



/* adding keyFrames  */


@keyframes mymove {
  0%   {color: rgb(216, 90, 90);}
  25%  {color: rgb(205, 205, 97);}
  50%  {color: rgb(98, 98, 185);}
  100% {color: rgb(126, 201, 126);}
}


/* dissplay hidden  */

.hidden{
  display: none;
}
