/* web-navbar 💥💥💥💥 */
body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #146c94;
}

/* special classes */

.padding-applyer {
  padding: 3% 10%;
}

/* section web navbar  */
.navbar {
  background-color: #18122b;
  box-shadow: 1px 1px #fff;
}
.nav-item {
  padding: 0 1rem;
  font-size: 1.2rem;
}
.text-white:hover {
  background-color: rgba(127, 255, 212, 0.567);
}
.home {
  font-size: 20px;
}

.icon {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  padding-right: 10px;
}

/* home-page🏠🏠🏠🏠 */

#home-page {
  background-color: #18122b;
  color: white;
  padding: 12% 15% 10%;
}
.profile-img {
  width: 20rem;
  margin-top: 1rem;
  opacity: 0.9;
  border: 1px outset #18122b;
  border-radius: 50%;
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  10% {
    transform: translate(-300px, -100px);
    box-shadow: 0px 0px 1rem orange;
  }
  20% {
    box-shadow: 0px 0px 2rem orange;
    
  }
}
h1 {
  font-size: 3.5rem;
}
.rotate__heading{
  transform: rotate(360deg);
}
p {
  font-size: 2rem;
  margin-top: 18rem;
  text-decoration: underline;
}
.w {
  color: rgba(0, 255, 255, 0.718);
}
.r {
  color: rgba(0, 255, 255, 0.718);
  text-decoration: underline;
}
.page-icon {
  margin-right: 2rem;
}
.home-text {
  margin-top: 4rem;
}

/* game-section 🎮🎮🎮🎮🎮*/

.game__heading {
  text-decoration: none;
}

#game-section {
  background-color: #181d31;
}

.game-text {
  font-size: 3rem;
  text-transform: capitalize;
  color: darkgray;
  padding-top: 1.5rem;
}
.game-img {
  width: 90%;
  margin-top: 3%;
}
.btn-play {
  margin: 2rem 0.2rem;
}

/* photo-page📷📷📷📷 */

#photo-page {
  padding: 0.5rem;
  padding-top: 3rem;
  background-color: #181d31;
}

.box-images {
  width: 104%;
  height: 100%;
  border: 1px solid #fff;
}

.gallary-box {
  background-color: transparent;
}

.box {
  margin: 1% 0;
  border: 1px solit rgb(43, 3, 3);
}

.gallary-text {
  font-size: 3rem;
  text-transform: capitalize;
  color: darkgray;
}

.hidden {
  display: none;
}

/* section my skills  */

#my-skills {
  background-color: #146c94;
  padding: 1rem;
}
.skill-head {
  font-size: 3rem;
  font-family: sans-serif;
  color: darkgrey;
  font-weight: 900;
}

.skill-img,
.small-heading {
  font-size: 2.2rem;
  color: #fff;
  margin-top: 5%;
  opacity: 0.8;
}
.skill-text {
  margin-top: 5%;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  word-spacing: 3px;
  color: #fff;
  text-transform: lowercase;
}

/* section contact */
#contact-me {
  color: #fff;
  background-color: #181d31;
  padding: 1rem;
  font-family: "Montserrat";
}
.contact {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.1rem;
  padding: 1rem;
  margin-top: 0.1rem;
}
.contact-head {
  font-size: 2.5rem;
  font-family: "Montserrat";
  color: darkgray;
}

/* massage error  */

.error {
  color: rgb(26, 5, 5);
}

/* medis quearys */

@media (max-width: 470px) {
  @keyframes rotate {
    10% {
      transform: translate(-0px, -150px);
      box-shadow: 0px 0px 1rem yellow;
    }
    20% {
     
      box-shadow: 0px 0px 2rem yellow;
    }
  }
  .small-heading {
    font-size: 1.2rem;
    word-wrap: break-word;
  }
  .skill-head {
    font-size: 2.4rem;
  }
  #home-page {
    padding-top: 20%;
  }

  .nav-item {
    font-size: 1rem;
  }

  h1 {
    position: relative;
    left: -10px;
    font-size: 40px;
  }
  p {
    margin: 20px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .page-icon {
    margin-right: 10px;
  }
  .profile-img {
    width: 200px;
    margin-top: 20px;
  }
  .game-text {
    font-size: 2.4rem;
  }
  .gallary-text {
    font-size: 2.4rem;
  }
  .btn-play {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .box-images {
    width: 120%;
  }
}

/* adding keyFrames  */

@keyframes mymove {
  0% {
    color: rgb(216, 90, 90);
  }
  25% {
    color: rgb(205, 205, 97);
  }
  50% {
    color: rgb(98, 98, 185);
  }
  100% {
    color: rgb(126, 201, 126);
  }
}

/* display hidden */

.hidden {
  display: none;
}
.col-md-3:hover {
  transform: translateY(-20px);
  transition: 0.3s;
}
.box {
  opacity: 0.8;
}
.box:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 0.3s;
}
