/* web-navbar 💥💥💥💥 */
body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #222;
}

/* special classes */

.padding-applyer {
  padding: 3% 10%;
}
.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section {
  background-color: #222;
  transition: transform 1s, opacity 1s;
  color: #fff;
  /* border-bottom: #ffffff80 solid 1px; */
}

/* section web navbar  */

#web-navbar {
  text-align: left;
  background-color: hsl(0, 0%, 13%);
}
.nav-item {
  margin-left: 3rem;
  font-size: 1.2rem;
}

.home {
  font-size: 20px;
}

.icon {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  padding-right: 10px;
}

/* home-page🏠🏠🏠🏠 */

#home-page {
  background-color: #222;
  color: white;
  padding: 12% 15% 10%;
}
.profile-img {
  width: 20rem;
}

h1 {
  font-size: 4rem;
  animation: mymove 5s linear infinite;
}
p {
  font-size: 2rem;
  margin-top: 18rem;
  text-transform: capitalize;
}
.page-icon {
  margin-right: 2rem;
}

/* game-section 🎮🎮🎮🎮🎮*/

.project-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 2fr);
  grid-row-gap: 5rem;
}

.project--heading {
  font-size: 3.5rem;
  padding: 2rem;
}
.project--text {
  font-size: 1.5rem;
  text-align: left;
}
.project--img {
  width: 90%;
}
.btn-play {
  margin: 1rem;
}

.project--active {
  transform: scale(1.1);
  transition: 0.8s;
}

/* photo-page📷📷📷📷 */

#photo-page {
  padding: 1% 0 10%;
}

.box-images {
  width: 104%;
  height: 100%;
  border: 1px solid #fff;
}

.gallary-box {
  margin-top: 5%;
  background-color: transparent;
  border: 1px solid #0a0107;
}

.box {
  margin: 1% 0;
  border: 1px solit rgb(43, 3, 3);
}

.gallary-text {
  font-size: 3.7rem;
  margin-top: 2rem;
  color: #fff;
}

.hidden {
  display: none;
}

/* section my skills  */
.skill-head {
  font-size: 4rem;
  font-family: monospace;
  margin-top: 1rem;
}

.skill-img,
.small-heading {
  font-size: 3rem;
  margin-top: 5%;
}
.skill-text {
  margin-top: 5%;
  font-size: 30px;
  text-align: left;
}

/* section contact */

.contact-head {
  padding-top: 2rem;
  font-size: 2.3rem;
  margin-bottom: 5rem;
  font-family: "Montserrat";
  color: #fff;
}

.fa-phone {
  font-size: 2rem;
  margin: 5% 0;
}

p,
.social-icon {
  font-size: 3rem;
  margin-top: 2rem;
}

.fa-instagram:hover {
  color: rgb(199, 71, 113);
}

.fa-facebook:hover {
  color: blue;
}
.fa-twitter:hover {
  color: rgb(45, 209, 209);
}
.fa-envelope:hover {
  color: rgb(207, 155, 42);
}

.social-icon:hover {
  transform: translateY(-30%);
  transition: 0.2s;
}

/* medis quearys */

@media (max-width: 1000px) {
  .project--text {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #home-page {
    padding-top: 20%;
  }

  .nav-item {
    font-size: 1rem;
  }

  h1 {
    position: relative;
    left: -10px;
    font-size: 40px;
  }
  p {
    margin: 20px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .page-icon {
    margin-right: 10px;
  }
  .profile-img {
    width: 200px;
    margin-top: 20px;
  }
  .text-sizer {
    font-size: 1.2rem;
  }

  .game-text {
    font-size: 20px;
  }
  .btn-play {
    font-size: 10px;
  }
  .project--text{
    font-size: 8px;
  }
}



@media (max-width: 500px) {
  .box-images {
    width: 120%;
  }
  .social-icon {
    font-size: 2rem;
  }
  .project--heading{
    font-size: 1rem;
  }
}

/* adding keyFrames  */

@keyframes mymove {
  0% {
    color: rgb(216, 90, 90);
  }
  25% {
    color: rgb(205, 205, 97);
  }
  50% {
    color: rgb(98, 98, 185);
  }
  100% {
    color: rgb(126, 201, 126);
  }
}

/* display hidden */
